<%- include('partials/header') -%>

<main>
  <section class="profile">
    <%if(user.avatar) { %> <%if(!user.avatar.includes("http")) { %>
    <div>
      <img src="/uploads/<%= user.avatar%>" alt="" />
    </div>
    <% }else {%>
    <div>
      <img src="<%= user.avatar%>" alt="" />
    </div>
    <% }} else {%>

    <div>
      <img src="/images/prof.png" alt="" />
    </div>
    <% }%>

    <p><%= user.name%></p>

    <% if(user.isEmailVerified) {%>
    <p class="active"><span>Email is verfied</span></p>
    <% } else {%>
    <p class="blocked"><span>Email is not verified</span></p>
    <% }%>
    <h6><span><%= %></span></h6>
    <form action="/users/avatar" method="POST" enctype="multipart/form-data">
      <label for="">Change profile picture</label>
      <input type="file" name="avatar" />
      <button>submit</button>
    </form>
  </section>

  <!-- <ul class="index-root user-profile" id="item-root"> -->
  <ul class="user-profile">
    <li class="li">
      <h3><%= user.name%></h3>

      <p><%= user.email%></p>
      <% if(!user.isEmailVerified) {%>
      <a href="/send">
        <button>Verify your email</button>
      </a>
      <% } %>
      <p>age: <%= user.age%></p>
      <p><i class="fas fa-phone"></i>: <%= user.phone%></p>
      <p><%= user.country%></p>
      <a href="/users/update">
        <button>Update profile</button>
      </a>
    </li>
  </ul>
</main>
<%- include('partials/footer') -%>
